# Assessment for Advanced Data Science
# *Data Pipelines*

## Radzim Sendyka, Christian Cabrera, Carl Henrik Ek and Neil D. Lawrence

### 19 November 2024

Welcome to the course assessment for the Advanced Data Science unit. In this assessment, you will build two data pipelines and prediction systems.

The maximum total mark for this assessment is 20. That mark is split into two miniprojects below.
- The first miniproject is worth 7 marks.
- The second miniproject is worth 13 marks.

*The check Session for this Assessment is 03 December 2024.*

# Task 1 (7 marks)

This example project builds on your experience from the practicals, using Open Street Maps, and connecting them to real-world datasets.

Your prediction system will be based on data from the 2021 UK Census, and Open Street Maps.

### Build a data pipeline and prediction system.

Structure your system around the [Access-Assess-Address](https://inverseprobability.com/talks/notes/access-assess-address-a-pipeline-for-automated-data-science.html) framework for automated data science.
Use the framework of [Data Readiness Levels](https://inverseprobability.com/publications/data-readiness-levels.html) to track the state of your datasets throughout the process.
Visualise your data and predictions using appropriate charts and graphics.
Remember, your notebook should tell a story.

1.1. Download the data from online sources. In this task you will need:
  - UK Census Data
    - The UK Census data file for and Socio-economic Classification (NS SEC) [here](https://www.ons.gov.uk/datasets/TS062/editions/2021/versions/5) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk). Use the most detailed area type (Output Areas).
    - One other UK Census data file of your choosing [here](https://www.ons.gov.uk/search?topics=9731,6646,3845,9497,4262,4128,7755,4994,6885,9724,7367&filter=datasets) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk). Use the most detailed area type available.
    - Geographic coordinates of Census Output Areas [here](https://www.data.gov.uk/dataset/4d4e021d-fe98-4a0e-88e2-3ead84538537/output-areas-december-2021-boundaries-ew-bgc-v2).
  - Spatial data
    - Set up an API connection to Open Street Maps [here](https://osmnx.readthedocs.io/en/stable/). Optionally, to be able to use more data in training, you might want to also download the entire map for England (or more) [here](https://download.openstreetmap.fr/extracts/) or [here](https://wiki.openstreetmap.org/wiki/Planet.osm).

1.2. Structure the data, and upload it to your AWS database.

- Census datasets can be huge and unwieldy to manipulate directly in python frameworks such as pandas. As a result we will host the data in a relational database.

- Using a cloud hosted database (such as MariaDB hosted on the AWS RDS service),  you will construct a database containing tables that contain per-output-area data, latitudes and longitudes of the output areas, and potentially, extracted selected open street maps features from the country-wide data file.

- Make sure you set the correct indices on your data, which will allow your code to run much faster. Hint: create an index on any columns you will be looking up, and joint indices if your lookup involves multiple columns (like coordinates).

You will likely find the following resources helpful.

- Lecture 1, 2 and 3.
- Lab class 1 and 2.


- *Note, this particular dataset could probably be handled directly in pandas, but you are explicitly tasked with using a database. This is a compromise from previous iterations of this course, where students spent quite a lot of time struggling from the size of the data. This is an opportunity for you to demonstrate your skills, as well as prepare for the second part of the assessment where databases might be necessary. Approach that do not use databases where needed will be penalised during marking.*


2.0. Explore the data.

  - To make predictions you will augment your data with information obtained from Open Street Map: an open license source of mapping information. You will need to use the techniques you have learnt in the course to indentify and incorporate useful features for your prediction tasks.
  - Look at the percentage of students (NS SEC code L15) in the individual output areas, and explore how it's related to various types of open street map features in those locations. Use the relationships you found to suggest the features to be used in a system that predicts percentage of students in a given area.
  - Do the same for an additional census variable (e.g., the average age in a given area).

3.0. Make a prediction system.
- Use Open Street Maps to predict Socio-Economic Status - in particular, the percent of full time students, from OSM features. Your function should take as input a coordinate pair (you can assume it will be in England), and return an estimate for the share of students in that area.

- Do the same for the additional census variable you selected in the previous step.

Hints:

  - *Some of the census data sheets are very detailed. You might want to try "boiling them down" to some aggregate value or selecting just the most important columns.*

  - *This assignment is focused on data pipelines, rather than machine learning, so we do not expect any advanced architectures here - a linear model or similar is perfectly fine.*
  
  - *For data exploration, or picking your second dataset, you may find useful the [interactive map](https://www.ons.gov.uk/census/maps/) of the census data.*

### Story.

- Remember the notebook you create should tell a story, any code that is not critical to that story can safely be placed into the associated analysis library and imported for use (structured as given in the Fynesse template). Make sure your decisions are well substanciated and flow nicely throughout the notebook, with clear explanations.

- Explain everything you do. Why is your question important, why you selected the datasets you did, why did you join them how you did, why did you look at the things you looked at.

Make sure in your notebook you discuss the design decisions you made in your pipeline and prediction system. How did you structure your notebook? How did you track data readiness? Which aspects of your system could be improved further?

Make sure you compare how you predict student population and your second chosen property. What differences are there, in the underlying data, process, and results?

Make sure you discuss the reusability of your data pipeline and prediction system. What changes to the underlying data/system is it resilient to, and what isn't it? What work would need to be done to adjust it to answer questions about other statistics, or a different country, instead?

### Fynesse library.

- Alongside your implementation you will provide a short repository overview describing how you have implemented the different parts of the project and where you have placed those parts in your code repository. You will submit your code alongside a version of this notebook that will allow your examiner to understand and reconstruct the thinking behind your analysis. This notebook is structured to help you in creating that description and allow you to understand how we will allocate the marks. You should make use of the Fynesse framework (https://github.com/lawrennd/fynesse_template) for structuring your code.

- One artefact to be included in your submission is a python library structured according to the "Access, Assess, Address" standard for data science solutions. You will submit this library alongside your code. Use the cell below to perform the necessary installation instructions for your library.
You should base your module on the template repository given by the Fynesse template repository. That should make it pip-installable as below.
`%pip install git+https://github.com/lawrennd/fynesse_template.git`. You can either replace fynesse with the name you've given your analysis module or you can leave the name as fynesse if you prefer.

- Remember the notebook you create should tell a story, any code that is not critical to that story can safely be placed into the associated analysis library and imported for use (structured as given in the Fynesse template). Remember to include you fynesse library in your submission.

## Access

In [33]:
%pip uninstall --yes fynesse
%pip install git+https://github.com/ClaireCooper/cjc233_ads_2024.git
%load_ext autoreload
%autoreload 2

Found existing installation: fynesse 0.1.0
Uninstalling fynesse-0.1.0:
  Successfully uninstalled fynesse-0.1.0
Collecting git+https://github.com/ClaireCooper/cjc233_ads_2024.git
  Cloning https://github.com/ClaireCooper/cjc233_ads_2024.git to /tmp/pip-req-build-ech62r41
  Running command git clone --filter=blob:none --quiet https://github.com/ClaireCooper/cjc233_ads_2024.git /tmp/pip-req-build-ech62r41
  Resolved https://github.com/ClaireCooper/cjc233_ads_2024.git to commit 2569da4d1619ccf31bc21e0064527529b904fed9
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (1.26.4)
Requirement already satisfied: jupyter in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (1.1.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (3.8.0)
Requirement already satisfied: notebook in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (6.5.5)
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (6.1.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (7.16.4)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (6.29.5)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (7.7.1)
Requirement already satisfied: jupyterlab in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (4.3.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (4.55.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->fynesse==0.1.0) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->fynesse==0.1.0) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->fynesse==0.1.0) (1.16.0)
Requirement already satisfied: comm>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (0.2.2)
Requirement already satisfied: debugpy>=1.6.5 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (1.8.0)
Requirement already satisfied: ipython>=7.23.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (7.34.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (7.4.9)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (0.1.7)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (1.6.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.9.5)
Requirement already satisfied: pyzmq>=24 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (24.0.1)
Requirement already satisfied: tornado>=6.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (6.3.3)
Requirement already satisfied: traitlets>=5.4.0 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.7.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->jupyter->fynesse==0.1.0) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->jupyter->fynesse==0.1.0) (3.6.10)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->jupyter->fynesse==0.1.0) (3.0.13)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-console->jupyter->fynesse==0.1.0) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from jupyter-console->jupyter->fynesse==0.1.0) (2.18.0)
Requirement already satisfied: async-lru>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.0.4)
Requirement already satisfied: httpx>=0.25.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (0.27.2)
Requirement already satisfied: jinja2>=3.0.3 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (3.1.4)
Requirement already satisfied: jupyter-lsp>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.2.5)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.14.2)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.27.3)
Requirement already satisfied: notebook-shim>=0.2 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (0.2.4)
Requirement already satisfied: setuptools>=40.1.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (75.1.0)
Requirement already satisfied: tomli>=1.2.2 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.1.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (6.2.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.3.0)
Requirement already satisfied: markupsafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (3.0.2)
Requirement already satisfied: mistune<4,>=2.0.3 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (3.0.2)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.10.0)
Requirement already satisfied: nbformat>=5.7 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (5.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (1.5.1)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (1.4.0)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (23.1.0)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (0.18.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (0.21.0)
Requirement already satisfied: nbclassic>=0.4.7 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (1.1.0)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from async-lru>=1.0.0->jupyterlab->jupyter->fynesse==0.1.0) (4.12.2)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach!=5.0.0->nbconvert->jupyter->fynesse==0.1.0) (0.5.1)
Requirement already satisfied: anyio in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (3.7.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (2024.8.30)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.0.7)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (3.10)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/dist-packages (from httpcore==1.*->httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (0.14.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (4.9.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.10/dist-packages (from jupyter-client>=6.1.12->ipykernel->jupyter->fynesse==0.1.0) (0.4)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter->fynesse==0.1.0) (4.3.6)
Requirement already satisfied: jupyter-events>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.10.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.5.3)
Requirement already satisfied: overrides>=5.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (7.7.0)
Requirement already satisfied: websocket-client>=1.7 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.8.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.10/dist-packages (from argon2-cffi->notebook->jupyter->fynesse==0.1.0) (21.2.0)
Requirement already satisfied: babel>=2.10 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.16.0)
Requirement already satisfied: json5>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.10.0)
Requirement already satisfied: jsonschema>=4.18.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (4.23.0)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.32.3)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.7->nbconvert->jupyter->fynesse==0.1.0) (2.20.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->jupyter-console->jupyter->fynesse==0.1.0) (0.2.13)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.10/dist-packages (from terminado>=0.8.3->notebook->jupyter->fynesse==0.1.0) (0.7.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->nbconvert->jupyter->fynesse==0.1.0) (2.6)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio->httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.2.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.8.4)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.21.0)
Requirement already satisfied: python-json-logger>=2.0.4 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (6.0.2)
Requirement already satisfied: rfc3339-validator in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (3.4.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.2.3)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter->fynesse==0.1.0) (1.17.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter->fynesse==0.1.0) (2.22)
Requirement already satisfied: fqdn in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.5.1)
Requirement already satisfied: isoduration in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (3.0.0)
Requirement already satisfied: uri-template in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.3.0)
Requirement already satisfied: webcolors>=24.6.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (24.11.1)
Requirement already satisfied: arrow>=0.15.0 in /usr/local/lib/python3.10/dist-packages (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.3.0)
Requirement already satisfied: types-python-dateutil>=2.8.10 in /usr/local/lib/python3.10/dist-packages (from arrow>=0.15.0->isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (2.9.0.20241003)
Building wheels for collected packages: fynesse
  Building wheel for fynesse (setup.py) ... done
  Created wheel for fynesse: filename=fynesse-0.1.0-py3-none-any.whl size=10463 sha256=1d22bb11f4c781cc7749bb6db62552d9f04da18a94558ab1b830192c44760343
  Stored in directory: /tmp/pip-ephem-wheel-cache-kd46ivv4/wheels/da/9d/ca/657fa6279e58f5b5a5271c4936292fe40fe19329f4e2c79896
Successfully built fynesse
Installing collected packages: fynesse
Successfully installed fynesse-0.1.0

In [31]:
%pip install pymysql
%pip install kneed
%pip install osmnx==1.9.4

Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.1)
Requirement already satisfied: kneed in /usr/local/lib/python3.10/dist-packages (0.8.5)
Requirement already satisfied: numpy>=1.14.2 in /usr/local/lib/python3.10/dist-packages (from kneed) (1.26.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from kneed) (1.13.1)
Requirement already satisfied: osmnx==1.9.4 in /usr/local/lib/python3.10/dist-packages (1.9.4)
Requirement already satisfied: geopandas<0.15,>=0.12 in /usr/local/lib/python3.10/dist-packages (from osmnx==1.9.4) (0.14.4)
Requirement already satisfied: networkx<3.4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from osmnx==1.9.4) (3.3)
Requirement already satisfied: numpy<1.27,>=1.20 in /usr/local/lib/python3.10/dist-packages (from osmnx==1.9.4) (1.26.4)
Requirement already satisfied: pandas<2.3,>=1.1 in /usr/local/lib/python3.10/dist-packages (from osmnx==1.9.4) (2.2.2)
Requirement already satisfied: requests<2.33,>=2.27 in /usr/local/lib/python3.10/dist-packages (from osmnx==1.9.4) (2.32.3)
Requirement already satisfied: shapely<2.1,>=2.0 in /usr/local/lib/python3.10/dist-packages (from osmnx==1.9.4) (2.0.6)
Requirement already satisfied: fiona>=1.8.21 in /usr/local/lib/python3.10/dist-packages (from geopandas<0.15,>=0.12->osmnx==1.9.4) (1.10.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from geopandas<0.15,>=0.12->osmnx==1.9.4) (24.2)
Requirement already satisfied: pyproj>=3.3.0 in /usr/local/lib/python3.10/dist-packages (from geopandas<0.15,>=0.12->osmnx==1.9.4) (3.7.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas<2.3,>=1.1->osmnx==1.9.4) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.3,>=1.1->osmnx==1.9.4) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas<2.3,>=1.1->osmnx==1.9.4) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<2.33,>=2.27->osmnx==1.9.4) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<2.33,>=2.27->osmnx==1.9.4) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<2.33,>=2.27->osmnx==1.9.4) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<2.33,>=2.27->osmnx==1.9.4) (2024.8.30)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.21->geopandas<0.15,>=0.12->osmnx==1.9.4) (24.2.0)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.21->geopandas<0.15,>=0.12->osmnx==1.9.4) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.21->geopandas<0.15,>=0.12->osmnx==1.9.4) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.21->geopandas<0.15,>=0.12->osmnx==1.9.4) (0.7.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas<2.3,>=1.1->osmnx==1.9.4) (1.16.0)

In [177]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import osmnx as ox
import osmnx.utils_geo
import fynesse
import yaml
import requests
import os
import json
from pathlib import Path
from ipywidgets import interact_manual, Text, Password

In [2]:
@interact_manual(username=Text(description="Username:"),
                password=Password(description="Password:"),
                url=Text(description="URL:"),
                port=Text(description="Port:"))
def write_credentials(username, password, url, port):
    with open("credentials.yaml", "w") as file:
        credentials_dict = {'username': username,
                           'password': password,
                           'url': url,
                           'port': port}
        yaml.dump(credentials_dict, file)

interactive(children=(Text(value='', description='Username:'), Password(description='Password:'), Text(value='…

In [2]:
with open("credentials.yaml") as file:
  credentials = yaml.safe_load(file)
username = credentials["username"]
password = credentials["password"]
url = credentials["url"]
port = credentials["port"]

In [15]:
fynesse.access.download_census_data('TS062')

sec_df = fynesse.access.load_census_data('TS062', level='oa')
sec_df

Files already exist at: census2021-ts062.

,date,geography,geography code,National Statistics Socio-economic Classification (NS-SEC): Total: All usual residents aged 16 years and over,"National Statistics Socio-economic Classification (NS-SEC): L1, L2 and L3 Higher managerial, administrative and professional occupations","National Statistics Socio-economic Classification (NS-SEC): L4, L5 and L6 Lower managerial, administrative and professional occupations",National Statistics Socio-economic Classification (NS-SEC): L7 Intermediate occupations,National Statistics Socio-economic Classification (NS-SEC): L8 and L9 Small employers and own account workers,National Statistics Socio-economic Classification (NS-SEC): L10 and L11 Lower supervisory and technical occupations,National Statistics Socio-economic Classification (NS-SEC): L12 Semi-routine occupations,National Statistics Socio-economic Classification (NS-SEC): L13 Routine occupations,National Statistics Socio-economic Classification (NS-SEC): L14.1 and L14.2 Never worked and long-term unemployed,National Statistics Socio-economic Classification (NS-SEC): L15 Full-time students
0,2021,E00000001,E00000001,159,80,38,13,9,3,5,5,4,2
1,2021,E00000003,E00000003,222,96,58,8,26,2,5,2,5,20
2,2021,E00000005,E00000005,103,37,28,8,21,0,3,1,1,4
3,2021,E00000007,E00000007,140,62,39,5,11,3,3,1,6,10
4,2021,E00000010,E00000010,170,34,45,17,27,7,10,14,11,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188875,2021,W00010693,W00010693,737,2,8,5,8,7,9,14,2,682
188876,2021,W00010694,W00010694,304,35,87,40,31,23,26,33,7,22
188877,2021,W00010695,W00010695,154,12,44,22,15,12,15,17,11,6
188878,2021,W00010696,W00010696,176,32,55,26,14,9,13,12,7,8
188879,2021,W00010697,W00010697,215,16,59,40,21,10,30,27,4,8

In [65]:
def download_output_area_data():
  url = 'https://open-geography-portalx-ons.hub.arcgis.com/api/download/v1/items/6beafcfd9b9c4c9993a06b6b199d7e6d/geojson?layers=0'
  if not Path(f"./output_areas.geojson").is_file():
    response = requests.get(url)
    if response.status_code == 200:
        with open(f"./output_areas.geojson", "wb") as f:
            f.write(response.content)

In [67]:
download_output_area_data()

In [70]:
with open('output_areas.geojson', 'r') as f:
  oa_json = json.load(f)

print(oa_json['type'])

FeatureCollection

In [130]:
%%sql
USE `ads_2024`;
--
-- Table structure for table `oa_data`
--
DROP TABLE IF EXISTS `oa_data`;
CREATE TABLE IF NOT EXISTS `oa_data` (
  `output_area` char(9) COLLATE utf8_bin NOT NULL,
  `latitude` decimal(7,5) NOT NULL,
  `longitude` decimal(6,5) NOT NULL,
  `geometry` GEOMETRY,
  `db_id` bigint(20) unsigned NOT NULL
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1 ;

 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [131]:
%%sql
--
-- Primary key for table `oa_data`
--
ALTER TABLE `oa_data`
ADD PRIMARY KEY (`db_id`);

ALTER TABLE `oa_data`
MODIFY db_id bigint(20) unsigned NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=1;

 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.

[]

In [147]:
records = []
first_feature = oa_json['features'][0]
geom = json.dumps(first_feature['geometry'])
geom = geom.replace('"', '\\\"')
props = first_feature['properties']
oa = props['OA21CD']
lat = props['LAT']
lon = props['LONG']
records.append(f'("{oa}",{lat},{lon},ST_GeomFromGeoJSON("{geom}"))')

first_feature = oa_json['features'][1]
geom = json.dumps(first_feature['geometry'])
geom = geom.replace('"', '\\\"')
props = first_feature['properties']
oa = props['OA21CD']
lat = props['LAT']
lon = props['LONG']
records.append(f'("{oa}",{lat},{lon},ST_GeomFromGeoJSON("{geom}"))')

records = ','.join(records)

%sql INSERT INTO `oa_data` (output_area, latitude, longitude, geometry) VALUES  $records;

 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
2 rows affected.

[]

In [169]:
id = 0
records = []

for feature in oa_json['features']:
  id = feature['id']
  geom = json.dumps(feature['geometry'])
  geom = geom.replace('"', '\\\"')
  props = feature['properties']
  oa = props['OA21CD']
  lat = props['LAT']
  lon = props['LONG']
  records.append(f'("{oa}",{lat},{lon},ST_GeomFromGeoJSON("{geom}"))')

In [172]:
for i in range(0, len(records)-1, 1000):
  sub_records = ','.join(records[i:i+1000])
  %sql INSERT INTO `oa_data` (output_area, latitude, longitude, geometry) VALUES  $sub_records;
  print(i, 'to', i+999, 'records inserted')

 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
0 to 999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
1000 to 1999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
2000 to 2999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
3000 to 3999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
4000 to 4999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
5000 to 5999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
6000 to 6999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
7000 to 7999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
8000 to 8999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
9000 to 9999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
10000 to 10999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
11000 to 11999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
12000 to 12999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
13000 to 13999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
14000 to 14999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
15000 to 15999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
16000 to 16999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
17000 to 17999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
18000 to 18999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
19000 to 19999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
20000 to 20999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
21000 to 21999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
22000 to 22999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
23000 to 23999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
24000 to 24999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
25000 to 25999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
26000 to 26999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
27000 to 27999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
28000 to 28999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
29000 to 29999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
30000 to 30999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
31000 to 31999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
32000 to 32999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
33000 to 33999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
34000 to 34999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
35000 to 35999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
36000 to 36999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
37000 to 37999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
38000 to 38999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
39000 to 39999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
40000 to 40999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
41000 to 41999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
42000 to 42999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
43000 to 43999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
44000 to 44999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
45000 to 45999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
46000 to 46999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
47000 to 47999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
48000 to 48999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
49000 to 49999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
50000 to 50999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
51000 to 51999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
52000 to 52999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
53000 to 53999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
54000 to 54999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
55000 to 55999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
56000 to 56999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
57000 to 57999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
58000 to 58999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
59000 to 59999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
60000 to 60999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
61000 to 61999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
62000 to 62999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
63000 to 63999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
64000 to 64999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
65000 to 65999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
66000 to 66999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
67000 to 67999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
68000 to 68999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
69000 to 69999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
70000 to 70999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
71000 to 71999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
72000 to 72999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
73000 to 73999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
74000 to 74999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
75000 to 75999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
76000 to 76999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
77000 to 77999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
78000 to 78999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
79000 to 79999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
80000 to 80999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
81000 to 81999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
82000 to 82999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
83000 to 83999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
84000 to 84999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
85000 to 85999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
86000 to 86999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
87000 to 87999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
88000 to 88999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
89000 to 89999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
90000 to 90999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
91000 to 91999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
92000 to 92999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
93000 to 93999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
94000 to 94999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
95000 to 95999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
96000 to 96999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
97000 to 97999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
98000 to 98999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
99000 to 99999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
100000 to 100999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
101000 to 101999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
102000 to 102999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
103000 to 103999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
104000 to 104999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
105000 to 105999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
106000 to 106999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
107000 to 107999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
108000 to 108999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
109000 to 109999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
110000 to 110999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
111000 to 111999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
112000 to 112999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
113000 to 113999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
114000 to 114999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
115000 to 115999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
116000 to 116999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
117000 to 117999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
118000 to 118999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
119000 to 119999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
120000 to 120999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
121000 to 121999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
122000 to 122999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
123000 to 123999 records inserted
 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
124000 to 124999 records inserted

In [173]:
conn = fynesse.access.create_connection(username, password, url, 'ads_2024', int(port))

Connection established!

In [174]:
def select_all_from_oa_table(conn):
    with conn.cursor() as cur:
        cur.execute(f'SELECT output_area, latitude, longitude, ST_AsBinary(geometry) as geometry FROM oa_data')
        columns = [d[0] for d in cur.description]
        rows = cur.fetchall()
    df = pd.DataFrame(rows, columns=columns)
    gs = gpd.GeoSeries.from_wkb(df['geometry'])
    gdf = gpd.GeoDataFrame(df, geometry=gs, crs='EPSG:27700')
    return gdf.loc[:, ~df.columns.duplicated()]

In [175]:
oa_df = select_all_from_oa_table(conn)
oa_df

,output_area,latitude,longitude,geometry
0,E00000001,51.52022,-0.09523,"POLYGON ((532303.492 181814.110, 532213.378 18..."
1,E00000003,51.51983,-0.09638,"POLYGON ((532213.378 181846.192, 532190.539 18..."
2,E00000005,51.51896,-0.09649,"POLYGON ((532180.131 181763.020, 532219.161 18..."
3,E00000007,51.51674,-0.09771,"POLYGON ((532201.292 181668.180, 532267.728 18..."
4,E00000010,51.52250,-0.09741,"POLYGON ((532127.958 182133.192, 532089.264 18..."
...,...,...,...,...
188875,W00010693,53.22236,-4.13012,"POLYGON ((258000.635 371797.895, 258087.308 37..."
188876,W00010694,51.86313,-4.32295,"POLYGON ((240288.250 220817.041, 240329.841 22..."
188877,W00010695,51.80086,-4.08136,"POLYGON ((256825.351 213622.891, 256842.777 21..."
188878,W00010696,51.66546,-4.13803,"POLYGON ((252565.969 198452.812, 252493.604 19..."
188879,W00010697,51.68569,-4.17430,"POLYGON ((249940.489 200831.457, 249920.765 20..."

In [12]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [54]:
%sql mariadb+pymysql://$username:$password@$url?local_infile=1
%sql SHOW databases

 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
7 rows affected.

[('ads_2024',),
 ('information_schema',),
 ('innodb',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('tmp',)]

In [26]:
%%sql
USE `ads_2024`;
--
-- Table structure for table `sec_data`
--
DROP TABLE IF EXISTS `sec_data`;
CREATE TABLE IF NOT EXISTS `sec_data` (
  `year` year NOT NULL,
  `geography` char(9) COLLATE utf8_bin NOT NULL,
  `total` int(4) unsigned NOT NULL,
  `L1_2_3` int(4) unsigned NOT NULL,
  `L4_5_6` int(4) unsigned NOT NULL,
  `L7` int(4) unsigned NOT NULL,
  `L8_9` int(4) unsigned NOT NULL,
  `L10_11` int(4) unsigned NOT NULL,
  `L12` int(4) unsigned NOT NULL,
  `L13` int(4) unsigned NOT NULL,
  `L14` int(4) unsigned NOT NULL,
  `L15` int(4) unsigned NOT NULL,
  `db_id` bigint(20) unsigned NOT NULL
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1 ;

 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [27]:
%%sql
--
-- Primary key for table `sec_data`
--
ALTER TABLE `sec_data`
ADD PRIMARY KEY (`db_id`);

ALTER TABLE `sec_data`
MODIFY db_id bigint(20) unsigned NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=1;

 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.

[]

In [28]:
%sql LOAD DATA LOCAL INFILE "./census2021-ts062/census2021-ts062-oa.csv" INTO TABLE `sec_data` FIELDS TERMINATED BY ',' LINES STARTING BY '' TERMINATED BY '\n' IGNORE 1 LINES (year, geography, @dummy, L1_2_3, L4_5_6, L7, L8_9, L10_11, L12, L13, L14, L15);

 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
188880 rows affected.

[]

In [105]:
conn = fynesse.access.create_connection(username, password, url, 'ads_2024', int(port))

Connection established!

In [30]:
sec_df = fynesse.access.select_all_from_table(conn, 'sec_data')

In [31]:
sec_df

,year,geography,total,L1_2_3,L4_5_6,L7,L8_9,L10_11,L12,L13,L14,L15,db_id
0,2021,E00000001,0,159,80,38,13,9,3,5,5,4,1
1,2021,E00000003,0,222,96,58,8,26,2,5,2,5,2
2,2021,E00000005,0,103,37,28,8,21,0,3,1,1,3
3,2021,E00000007,0,140,62,39,5,11,3,3,1,6,4
4,2021,E00000010,0,170,34,45,17,27,7,10,14,11,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188875,2021,W00010693,0,737,2,8,5,8,7,9,14,2,188876
188876,2021,W00010694,0,304,35,87,40,31,23,26,33,7,188877
188877,2021,W00010695,0,154,12,44,22,15,12,15,17,11,188878
188878,2021,W00010696,0,176,32,55,26,14,9,13,12,7,188879
188879,2021,W00010697,0,215,16,59,40,21,10,30,27,4,188880

In [32]:
fynesse.access.download_census_data('TS006')

pd_df = fynesse.access.load_census_data('TS006', level='oa')
pd_df

Files already exist at: census2021-ts006.

,date,geography,geography code,Population Density: Persons per square kilometre; measures: Value
0,2021,E00060274,E00060274,8247.7
1,2021,E00060275,E00060275,7746.7
2,2021,E00060276,E00060276,5190.4
3,2021,E00060277,E00060277,6303.9
4,2021,E00060279,E00060279,2613.6
...,...,...,...,...
188875,2021,W00006938,W00006938,10.9
188876,2021,W00006940,W00006940,1524.6
188877,2021,W00006941,W00006941,488.8
188878,2021,W00006942,W00006942,1255.8
188879,2021,W00009771,W00009771,63.2

In [42]:
%%sql
USE `ads_2024`;
--
-- Table structure for table `pd_data`
--
DROP TABLE IF EXISTS `pd_data`;
CREATE TABLE IF NOT EXISTS `pd_data` (
  `year` year NOT NULL,
  `geography` char(9) COLLATE utf8_bin NOT NULL,
  `population_density` decimal(9,1) unsigned NOT NULL,
  `db_id` bigint(20) unsigned NOT NULL
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1 ;

 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [43]:
%%sql
--
-- Primary key for table `pd_data`
--
ALTER TABLE `pd_data`
ADD PRIMARY KEY (`db_id`);

ALTER TABLE `pd_data`
MODIFY db_id bigint(20) unsigned NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=1;

 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.

[]

In [44]:
%sql LOAD DATA LOCAL INFILE "./census2021-ts006/census2021-ts006-oa.csv" INTO TABLE `pd_data` FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED BY '"' LINES STARTING BY '' TERMINATED BY '\n' IGNORE 1 LINES (year, geography, @dummy, population_density);

 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
188880 rows affected.

[]

In [45]:
conn = fynesse.access.create_connection(username, password, url, 'ads_2024', int(port))

Connection established!

In [46]:
pd_df = fynesse.access.select_all_from_table(conn, 'pd_data')

Write a short paragraph summarising what you did in the Access stage.

In [47]:
pd_df

        year  geography population_density   db_id
0       2021  E00060274             8247.7       1
1       2021  E00060275             7746.7       2
2       2021  E00060276             5190.4       3
3       2021  E00060277             6303.9       4
4       2021  E00060279             2613.6       5
...      ...        ...                ...     ...
188875  2021  W00006938               10.9  188876
188876  2021  W00006940             1524.6  188877
188877  2021  W00006941              488.8  188878
188878  2021  W00006942             1255.8  188879
188879  2021  W00009771               63.2  188880

[188880 rows x 4 columns]

In [55]:
%sql USE `ads_2024`;

 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.

[]

In [48]:
%sql CREATE INDEX idx_sec_geography ON sec_data(geography);

 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.

[]

In [56]:
%sql CREATE INDEX idx_pd_geography ON pd_data(geography);

 * mariadb+pymysql://admin:***@database-ads-cjc233.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.

[]

## Assess

Write a short paragraph summarising what you did in the Assess stage.

In [ ]:
# TODO: your answer here

## Address

In [ ]:
def estimate_students(latitude: float, longitude: float) -> float:
    """
    Args:
    latitude (float): The latitude coordinate.
    longitude (float): The longitude coordinate.

    Returns:
    float: Estimated share of students in that area (value between 0 and 1).
    """
    # TODO: implement
    return NotImplementedError


def estimate_something(latitude: float, longitude: float) -> float:
    #TODO: rename function
    """
    Args:
    latitude (float): The latitude coordinate.
    longitude (float): The longitude coordinate.

    Returns:
    float: Estimated value, percentage, probability, etc
    """
    # TODO: implement
    return NotImplementedError

Write a short paragraph summarising what you did in the Address stage.

In [ ]:
# TODO: your answer here

## Discussion

#### Story and structure

In [ ]:
# Marks awarded for inline explanation and structure, no need for answers here. Go over your notebook to make sure you explain what you did and why.

#### Design decisions

In [ ]:
# TODO: your answer here

#### Comparison

In [ ]:
# TODO: your answer here

#### Reusability

In [ ]:
# TODO: your answer here

# Task 2: miniproject (13 marks)

We expect your miniproject to be more advanced than the example project, and that's why we allocated more marks to it. The first 7 marks will be allocated similarly to Task 1.

6 remaining points are *bonus* - they will be allocated for going far beyond what you did in Task 1, either in data access, assess, address or story.

#### Choosing your topic

You are given a lot of flexibility in choosing a miniproject topic.

Some hints:
- Your project should be based on the Census, Price Paid, OSM and Election datasets.
- It's a good idea to pick something that you are interested in.
- Bear in mind there are no marks dedicated to your overall prediction accuracy, so there is no advantage to picking 'easy' topics. It is perfectly ok to not reach significant predictive power, as long as you followed the proper process.

Some guidelines:
- Do not make a miniproject that furthers discriminatory rhetoric. In general, avoid topics that could be insensitive. If in doubt, message Radzim Sendyka (and *cc* Christian Cabrera) to discuss if this applies to your idea.
- Please avoid any projects that would require approval from the ethics comittee.
- Pick the scope of your projects that will allow you to show your skills. Some projects might not be challenging enough while others might be hard to make any progress in. Don't be scared to report negative results.

Please email Radzim Sendyka (and *cc* Christian Cabrera) with your project idea when you begin working on it, so we can let you know about any potential concerns (eg. potentially insensive, too off-topic, too simple, too complex) as soon as we can. You can change the topic up to the submission deadline, but let us know again in cases of major changes.

Most of the advice from Task 1 still applies, particularly around using an online relational database, structuring your notebook, fynesse, access-assess-address, data readiness levels, hints.

Sources you may want to include in your data include:

  - UK Census Data
    - UK Census 2021 data [here](https://www.ons.gov.uk/search?topics=9731,6646,3845,9497,4262,4128,7755,4994,6885,9724,7367&filter=datasets) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk).
    - Historical Census data [here](https://www.ons.gov.uk/census/historiccensusdata).
    - Geographic coordinates of Census Output Areas [here](https://www.data.gov.uk/dataset/4d4e021d-fe98-4a0e-88e2-3ead84538537/output-areas-december-2021-boundaries-ew-bgc-v2).
  - Spatial data
    - You should already have a connection to OpenStreetMaps.
    - You might want to also download the entire map for England (or more) [here](https://download.openstreetmap.fr/extracts/) or [here](https://wiki.openstreetmap.org/wiki/Planet.osm).
  - Election data
    - Recent Election Results data [here](https://commonslibrary.parliament.uk/research-briefings/cbp-10009/)
    - Historical Election Results data [here](https://commonslibrary.parliament.uk/research-briefings/cbp-8647/#fullreport).
    - Lookup reference between Output Areas and Parliamentary Constituencies [here](https://geoportal.statistics.gov.uk/datasets/5968b5b2c0f14dd29ba277beaae6dec3_0/explore).
  - Price Paid Data
    - You should have this data already in your database.
  - OSM
    - You should know how to access this data from previous practicals.

Example ideas:

- Are areas correlated in terms of census results? If so, find the areas that are leading change, and the ones that are following.
- Which historical census variables used to predict election results in the past, but don't seem related anymore?
- Census results are only updated once a decade, but new roads and houses are built every year. Can census results, for example those relating to travel, be predicted from basic map information, such as street networks?
- Building new houses is our best way of tackling the housing crisis. Use the information on new builds in the house prices dataset to explore what factors drive new developments, and make predictions for where the next houses will be built.
- House styles differ a lot between regions and inhabitants. Can you make any predictions about the house or area simply from looking at it's geometric shape and orientation?

Note that the ideas are just a starting point question. You should include more in-depth investigations into the data, validate your findings where applicable, and prepare visualisations.

## Title and description

In [ ]:
# TODO: title your miniproject

In [ ]:
# TODO: provide a very brief description of the goals of your miniproject

## TODO: Your Project Goes Here

## Conclusions

The below code is for marking purpuses only, and not part of your project. It helps us gather the data we need without asking you for database credentials, and scouring github pages. This is mandatory. If the code does not work for you, let us know immediately.

1) Please re-run the code from Practical 1 to help us see the contents of your database. We recommend you include all data sources there, but some smaller inputs are fine to use as files.

In [ ]:
tables = %sql SHOW TABLES;

for row in tables:
    table_name = row[0]
    print(f"\nTable: {table_name}")

    table_status = %sql SHOW TABLE STATUS LIKE '{table_name}';
    approx_row_count = table_status[0][4] if table_status else 'Unable to fetch row count'
    print("\nApprox Row Count:", approx_row_count//100000/10, "M")

    first_5_rows = %sql SELECT * FROM `{table_name}` LIMIT 5;
    print(first_5_rows)

    indices = %sql SHOW INDEX FROM `{table_name}`;
    if indices:
        print("\nIndices:")
        for index in indices:
            print(f" - {index[2]} ({index[10]}): Column {index[4]}")
    else:
        print("\nNo indices set on this table.")

2) Please paste a link to your fynesse library below, and make sure it's publically accessible. Also run the code below, and make sure it worked, printing out the contents of your library.

In [ ]:
fynesse_url = '<your-url-library-here>'

In [ ]:
import fynesse
import os

print('FYNESSE STRUCTURE:')
package_path = os.path.dirname(fynesse.__file__)
for root, dirs, files in os.walk(package_path):
    level = root.replace(package_path, '').count(os.sep)
    indent = ' ' * 4 * level
    print(f"{indent}{os.path.basename(root)}/")
    sub_indent = ' ' * 4 * (level + 1)
    for f in files:
        print(f"{sub_indent}{f}")

print('FILE CONTENTS')
for root, dirs, files in os.walk(package_path):
    for file in files:
        file_path = os.path.join(root, file)
        print(f"--- Contents of {file_path} ---\n")
        try:
            with open(file_path, "r", encoding="utf-8") as f:
                print(f.read())
        except Exception as e:
            print(f"Could not read {file_path}: {e}")
        print("\n" + "-" * 50 + "\n")